# Default ignored files
/shelf/
/workspace.xml
/out
~/projects/problem-solving/.idea/dbnavigator.xml
~/projects/problem-solving/.idea/misc.xml
~/projects/problem-solving/.idea/modules.xml
~/projects/problem-solving/.idea/problem-solving.iml
~/projects/problem-solving/.idea/problem-solving.imlvcs.xml
